﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/header.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
            
            </div>
        </div>
        <div class="item">
            <img src="~/images/header.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
               
            </div>
        </div>
        <div class="item">
            <img src="~/images/header.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
          
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>produce/publish digital drawings and code</h2>
        <h3>About me</h3>
        <p>
            Welcome, I'm William. Originally from New Zealand I have migrated to Sydney, Australia.  This site links to my published works and contains info on how you can support me.

        </p>
        <h3>About this site</h3>
        <p>Hackathons and conferences may be attended. Preference to Sydney location, but open to others. Money will be used on living costs</p>
        <h2>Published Works</h2>
        <ul>
            <li><a href="https://gitlab.com/hammersmake">Gitlab Code</a></li>
            <li><a href="https://github.com/wcmckee">Github Code</a></li>
            <li><a href="https://artctrl.me">Art</a></li>

        </ul>
        <h2>Support Me</h2>

        With Support I can continue to produce/publish art and code.

        <ul>
            <li><a href="https://www.facebook.com/donate/2422568497980025/">Facebook Fundraiser</a></li>
            

        </ul>

    </div>
   
</div>
